body {
  background:rgb(79, 79, 79);
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  color: black; }


.navbar {
  background-color: black !important;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  padding-right: -20px;
}

#slider {
  background: black;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#slider img{
  width: 60%;
  animation: verona .5s linear;
}

@keyframes verona {
  0% {
    transform: scale(7);
  }

  100% {
    transform: scale(1);
  }
}

#section {
  color: white;
  text-align: justify;
}

#footer {
  background-color: black !important;
  color: white;
  text-align: justify;
}

#footer li{
  margin-top: 10px;
}

#footer h3, p{
  font-weight: bolder;
}


#footer a{
  color: white;
}


#wsp img{
  width: 80px;
  height: 80px;
  position: fixed;
  right: 10px;
  bottom: 150px;
}

#wsp img:hover {
  transform: scale(1.1);
}

#instagram img{
  width: 80px;
  height: 80px;
  position: fixed;
  right: 10px;
  bottom: 50px;
}

#instagram img:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px white;
  border-radius: 17px;
}

